body {
    background-color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: maroon;
}

#image_id {
    height: 200px;
    width: 200px;
    border-radius: 50%; 
} 
#menu {
    display: inline;

}
.h1{
    text-align: center;
} 