body {
    background-color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: maroon;
}

#image_id {
    height: 200px;
    width: 200px;
    border-radius: 50%; 
} 
#menu {
    display: inline;

}
.h1{
    text-align: center;
} 

/* Table */
table {
    border-collapse: collapse;
}

td {
    width: 200px;
    padding: 15px;
}
thead {
    font-weight: bold;
    background: #333;
    color: white;
}
tbody {
    color: #333;
}
tbody td {
    border-bottom: 1px solid #333;
}